<footer>
    <div class="footer-main-div">
        <div class="left-side-logo">
            <img src="../../img/LP-logo.png" alt="">
        </div>
        <div class="contact-info">
            <a href="tel:8939444102">Call Us</a>
            <a href="mailto:legalpiratesofficial@gmail.com">Mail Us</a>
            <a target="_blank" href="https://wa.me/+918939444102">Whatsapp</a>
        </div>
    </div>
</footer>